*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #a8ff78;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(288, 97%, 71%, 0.678), hsla(99, 100%, 74%, 0.685)), url(https://fondosmil.com/fondo/17990.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(182, 94%, 69%, 0.678), hsla(278, 100%, 81%, 0.685)), url(https://fondosmil.com/fondo/17990.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.contenedor{
    margin: auto;
    width: 900px;
    margin-top: 300px;
    text-align: center;
}

.titulo{
    margin-bottom: 10px;
    border-style: ridge;
    border-color: rgb(148, 162, 255);
    border-width: 20px;
}

.opciones p{
    background: rgba(255, 33, 33, 0);
    display: initial;
    padding: 12px;
    color: #000000;
    border-radius: 2px;
    font-weight: bold;
    margin-bottom: 10px;
    border-style: ridge;
    border-color: rgb(148, 162, 255);
    border-width: 20px;
}

p.p1{
    position: absolute;
    top: 400px;
    left: 500px;
    width: 100px;
}
p.p1:hover{
    background: gray;
    cursor: pointer;
}

p.p2{
    position: absolute;
    top: 400px;
    left: 750px;
    width: 100px;
}
p.p2:hover{
    background: gray;
    cursor: pointer;
}
#si{
    background: #515050;
    left: 420px;
    position: absolute;
    top: 122px;
    width: 550px;
    color: #ffffff;
    padding: 50px;
    display: none;
}
